<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
    <title>{{site-title}}</title>

    <meta name="description" content="{{meta-description}}">
		<meta name="keywords" content="{{meta-keywords}}">
		<meta charset="utf-8">

		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

		<script type="text/javascript" id="inspectletjs">
			window.__insp = window.__insp || [];
			__insp.push(['wid', 2246504286]);
			(function() {
				function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
				if (window.attachEvent){
					window.attachEvent('onload', __ldinsp);
				}else{
					window.addEventListener('load', __ldinsp, false);
				}
			})();
		</script>

		{{#stylesheet_bundle}}/css/{{css-bundle}}.css{{/stylesheet_bundle}}

		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-33936897-2', 'auto');
  			ga('send', 'pageview');
		</script>
	</head>
    <body>
    	<div class="main-container">
	    	<header>
	    		<h1 id="main-title">
	    			{{#if button-back}}
	    				<a class="nav-icon" href="{{button-back.page}}">
	    					<img class="button" src="img/{{button-back.img}}" alt="{{button-back.alt}}" title="{{button-back.alt}}">
	    				</a>
	    			{{/if}}
	    			<strong>{{page-title}}</strong>
	    		</h1>

	    		<a id="main-subtitle" href="index.html">
		    		<div class="login-container">
		    			<h3 id="login-firstname">Elodie</h3>
		    			<h5 id="login-lastname">Batista</h5>
		    		</div>
		    		<div class="login-container">
		    			<img id="login-avatar" src="img/elodie-batista.png" alt="Elodie Batista" title="Elodie Batista">
		    		</div>
		    	</a>
	    		<div class="clear"></div>
	    	</header>
	    	<div class="clear"></div>