								<a href="{{page}}">
									<div class="tile{{color}} tile-{{size}}">
										<img src="{{logo}}" alt="{{alt}}">
										<p class="tile-legend">{{{legend}}}</p>
									</div>
								</a>