					<div class="live-tile {{size}}" data-mode="slide" data-stops="100%" data-speed="{{speed}}" data-delay="{{delay}}">
				    	<div><img src="{{img1}}" alt="1" /></div>
				    	<div><img src="{{img2}}" alt="2" /></div>
					</div>